body {
    background-color: #1f1f26;
    color: #faefc1;
    
}

img{
    max-width: 100%;
    max-height: 100%;
}


h1{
    text-align: center;
    font-size: 1000%;
}

h2{
    text-align: center;
    font-size: 200%
}

p {
    text-align: right;

}
